<!DOCTYPE html >
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="include-head :: header-fragment"></head>
<link rel="stylesheet" type="text/css" th:href="@{/css/pagination.css}">
<script type="text/javascript" th:src="@{/jquery/jquery.pagination.js}"></script>
<script type="text/javascript" th:inline="javascript">
    $(function () {
        initPagination();
    })


    function initPagination() {
        var totalRecord = [[${pageInfo.total}]];
        var pageSize = [[${pageInfo.size}]];
        var current = [[${pageInfo.current}]]
        // var totalRecord = [[${pageInfo.getTotal()}]];
        // var pageSize = [[${pageInfo.getSize()}]];
        // var current = [[${pageInfo.getCurrent()}]]           //当前页数
        var properties = {
            num_edge_entries: 3,
            num_display_entries: 5,   //连续分页主体部分显示的分页条目数
            items_per_page: pageSize,   //每页显示的条目数
            current_page: current - 1,  //current_page内部是pageIndex，默认是从0开始
            prev_text: "上一页",
            next_text: "下一页",
            callback: pageSelectCallback
        };
        $("#Pagination").pagination(totalRecord, properties); //生成导航条
    }

    //回调函数的意义，不是自己调用，而是交给系统或者是框架来调用
    function pageSelectCallback(pageIndex) {
        var keyword = [[${keyword}]];
        if (keyword != "") {
            keyword = "&keyword=" + keyword;
        }
        var pageNum = pageIndex + 1;
        window.location.href = "/admin/get/page.html?pageNum=" + pageNum + keyword;
        return false;

    }


    function getQueryVariable(variable) {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split("=");
            if (pair[0] === variable) {
                return pair[1];
            }
        }
        return false;
    }

</script>
<script type="text/javascript" th:inline="javascript">


</script>
<body>
<nav th:replace="include-nav :: nav-fragment"></nav>
<div class="container-fluid">
    <div class="row">
        <div th:replace="include-sidebar :: sidebar-fragment"></div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="glyphicon glyphicon-th"></i> 数据列表</h3>
                </div>
                <span th:if="${pageInfo.records} == null">
                    <div th:text="抱歉,没有查到任何信息"></div>
                </span>

                <div class="panel-body">
                    <form th:action="@{/admin/to/page.html}" method="post" class="form-inline" role="form"
                          style="float:left;">
                        <div class="form-group has-feedback">
                            <div class="input-group">
                                <div class="input-group-addon" id="btn1">查询条件</div>
                                <input name="keyword" class="form-control has-success" type="text"
                                       placeholder="请输入查询条件">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-warning"><i class="glyphicon glyphicon-search"></i> 查询
                        </button>
                    </form>

                    <button type="button" class="btn btn-danger" style="float:right;margin-left:10px;"><i
                            class=" glyphicon glyphicon-remove"></i> 删除
                    </button>
                    <button type="button" class="btn btn-primary" style="float:right;"
                            onclick="window.location.href='/admin-add.html'"><i class="glyphicon glyphicon-plus"></i> 新增
                    </button>
                    <br>
                    <hr style="clear:both;">
                    <div class="table-responsive">
                        <table class="table  table-bordered">
                            <thead>
                            <tr>
                                <th width="30">#</th>
                                <th width="30"><input type="checkbox"></th>
                                <th>账号</th>
                                <th>名称</th>
                                <th>邮箱地址</th>
                                <th width="100">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!--<span th:if="${pageInfo.getRecords()}">-->
                            <!--    <tr>-->
                            <!--        <td colspan="6" th:text="抱歉,查询不到您搜索的内容!"></td>-->
                            <!--    </tr>-->
                            <!--</span>-->
                            <!--<span th:if="${!pageInfo.getRecords()}">-->
                            <!--<input type="hidden" th:>-->


                            <tr th:each=" admin : ${pageInfo.getRecords()}">
                                <td th:text="${admin.id}"></td>
                                <td><input type="checkbox"></td>
                                <td th:text="${admin.loginAcct}"></td>
                                <td th:text="${admin.userName}"></td>
                                <td th:text="${admin.email}"></td>
                                <td>
                                    <a th:href="@{'/assign/to/assign/role/page.html?adminId=' + ${admin.id } + '&pageNum=' + ${pageInfo.current}
                                   + '&keyword= ' + ${keyword}}" class="btn btn-success btn-xs"><i class=" glyphicon
                                    glyphicon-check"></i></a>

                                    <a th:href="@{'/admin/edit.html?adminId=' + ${admin.id} +'&pageNum=' + ${pageInfo.current} + '&keyword=' + ${keyword} }"
                                       class="btn btn-primary btn-xs">
                                        <i class=" glyphicon glyphicon-pencil"></i>
                                    </a>
                                    <a th:href="@{'/admin/remove/'+${admin.id} + '.html'}"
                                       class="btn btn-danger btn-xs"><i class=" glyphicon glyphicon-remove"></i></a>
                                </td>
                            </tr>

                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="6" align="center">
                                    <div id="Pagination" class="pagination">

                                    </div>
                                </td>
                            </tr>

                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
