<!DOCTYPE html >
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<admin th:fragment="header-fragment">
<head >
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <!--<link rel="stylesheet" th:href="@{/bootstrap/fonts/glyphicons-halflings-regular.eot}">-->
  <!--<link rel="stylesheet" th:href="@{/bootstrap/fonts/glyphicons-halflings-regular.svg}">-->
  <!--<link rel="stylesheet" th:href="@{/bootstrap/fonts/glyphicons-halflings-regular.ttf}">-->
  <!--<link rel="stylesheet" th:href="@{/bootstrap/fonts/glyphicons-halflings-regular.woff}">-->
  <!--<link rel="stylesheet" th:href="@{/bootstrap/fonts/glyphicons-halflings-regular.woff2}">-->

  <style>
    .tree li {
      list-style-type: none;
      cursor: pointer;
    }

    .tree-closed {
      height: 40px;
    }

    .tree-expanded {
      height: auto;
    }
  </style>
  <script type="text/javascript" th:src="@{/jquery/jquery-2.1.1.min.js}"></script>
  <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/script/docs.min.js}"></script>
  <script type="text/javascript" th:src="@{/layer/layer.js}"></script>
  <script type="text/javascript">
    $(function () {
      $(".list-group-item").click(function () {
        if ($(this).find("ul")) {
          $(this).toggleClass("tree-closed");
          if ($(this).hasClass("tree-closed")) {
            $("ul", this).hide("fast");
          } else {
            $("ul", this).show("fast");
          }
        }
      });
    });
  </script>
</head>
</admin>